In [118]:
import pandas as pd

In [119]:
cerveza_C = pd.read_csv('c_carr')
cerveza_D = pd.read_csv('c_dia')
cerveza_M = pd.read_csv('c_merc')

In [120]:
cerveza_C = cerveza_C.drop(['Unnamed: 0'],axis=1)

In [121]:
cerveza_C = cerveza_C.rename(columns={'price':'Carrefour'})

In [122]:
cerveza_D = cerveza_D.drop(['Unnamed: 0'],axis=1)

In [123]:
cerveza_M = cerveza_M.drop(['Unnamed: 0'],axis=1)

In [124]:
cerveza = pd.merge(cerveza_M,cerveza_C, how='outer')
cerveza = pd.merge(cerveza, cerveza_D, how='outer')

In [125]:
tomate_C = pd.read_csv('carrefour_tomate.csv')
tomate_D = pd.read_csv('dia_tomate.csv')
tomate_M = pd.read_csv('mercadona_tomate.csv')

In [126]:
tomate = pd.merge(tomate_C,tomate_D, how='outer')
tomate = pd.merge(tomate,tomate_M, how='outer')

In [127]:
total = pd.concat([tomate] + [cerveza])

In [128]:
dia = pd.read_csv('DIA_huevos_cafe.csv')
merc = pd.read_csv('Mercadona_huevos_cafe.csv')
carr = pd.read_csv('carrefour_huevos_cafe.csv')

In [129]:
dia_HC = dia.drop(['Unnamed: 0'],axis=1)
dia_HC = dia_HC.drop(['reference_unit'],axis=1)
dia_HC = dia_HC.drop(['category'],axis=1)
dia_HC = dia_HC.rename(columns={'price':'DIA'})

In [130]:
merc_HC = merc.drop(['Unnamed: 0'],axis=1)
merc_HC = merc_HC.drop(['reference_unit'],axis=1)
merc_HC = merc_HC.drop(['category'],axis=1)
merc_HC = merc_HC.rename(columns={'price':'Mercadona'})

In [131]:
carr_HC = carr.drop(['Unnamed: 0'],axis=1)
carr_HC = carr_HC.drop(['reference_unit'],axis=1)
carr_HC = carr_HC.drop(['category'],axis=1)
carr_HC = carr_HC.rename(columns={'price':'Carrefour'})

In [132]:
cerv_huevos = pd.merge(dia_HC,merc_HC, how='outer')
cerv_huevos = pd.merge(cerv_huevos,carr_HC, how='outer')

In [133]:
total = pd.concat([total] + [cerv_huevos])

In [134]:
total.describe()

       Carrefour      DIA  Mercadona
count   6.000000  6.00000   6.000000
mean    1.105000  1.17000   1.111667
std     0.826359  0.87343   0.822786
min     0.230000  0.25000   0.230000
25%     0.517500  0.58000   0.527500
50%     1.005000  1.07000   1.025000
75%     1.410000  1.41000   1.410000
max     2.490000  2.69000   2.490000

In [135]:
total

                                    Producto  Carrefour   DIA  Mercadona
0              tomate triturado genérico 0.4       0.45  0.49       0.45
1              tomate triturado genérico 0.8       0.72  0.85       0.76
0                       genérico lata 33 cl.       0.23  0.25       0.23
0                            huevos l 12 uds       1.45  1.45       1.45
1                            huevos m 12 uds       1.29  1.29       1.29
2  café soluble descafeinado genérico 200 g.       2.49  2.69       2.49

In [136]:
car_total = pd.read_csv('../CARREFOUR_modificable')
dia_total= pd.read_csv('../DIA_modificable')
mer_total = pd.read_csv('../MERCADONA_modificable')

In [137]:
mer_total

    Unnamed: 0                                           Producto  Mercadona
0            0  Aceite de oliva virgen extra génerico garrafa 5l.      15.85
1            1                     Agua mineral Font Vella 1,5 l.       0.60
2            2       agua mineral LANJARON natural botella 1.5 lt       0.60
3            3           EVAX fina y segura compresa sin alas 12u       1.44
4            4                                     Coca Cola 2 L.       1.52
5            5                           Refresco cola Pepsi 2 l.       1.33
6            6                 Pañal generico 36 unidades talla 5       6.12
7            7                 Pañal generico 36 unidades talla 6       9.36
8            8                  Pan de molde grande generico 820g       0.95
9            9                                Plátano de Canarias       1.99
10          10                                 Manzana Golden 1kg       1.29
11          11                                  Tomate kumato 1kg       1.99
12          12                   lavavajillas fairy ultra líquido       3.11
13          13                              lavavajillas generico       0.66
14          14                              friegasuelos generico       1.68
15          15                               Lejia generico litro       1.21

In [138]:
dia_total['Producto'] = dia_total['Producto'].apply(lambda x: x.replace('.',''))

In [139]:
mer_total['Producto'] = mer_total['Producto'].apply(lambda x: x.replace('.',''))

In [140]:
car_total['Producto'] = car_total['Producto'].apply(lambda x: x.replace('.',''))

In [141]:
car_total

    Unnamed: 0                                          Producto  Carrefour
0            0                     Aceite de girasol génerico 1l       1.00
1            1  Aceite de oliva virgen extra génerico garrafa 5l      16.95
2            2                     Agua mineral Font Vella 1,5 l       0.60
3            3                                     Coca Cola 2 L       1.50
4            4                           Refresco cola Pepsi 2 l       1.22
5            5          EVAX fina y segura compresa sin alas 12u       1.56
6            6                Pañal generico 36 unidades talla 5      10.44
7            7                Pañal generico 36 unidades talla 6      11.52
8            8                 Pan de molde grande generico 820g       1.05
9            9                               Plátano de Canarias       1.69
10          10                                Manzana Golden 1kg       1.49
11          11                                 Tomate kumato 1kg       2.70
12          12                  lavavajillas fairy ultra líquido       3.50
13          13                             lavavajillas generico       1.16
14          14                             friegasuelos generico       1.12
15          15                              Lejia generico litro       1.00

In [142]:
dia_total = dia_total.drop(columns=['Unnamed: 0'])
mer_total = mer_total.drop(columns=['Unnamed: 0'])
car_total = car_total.drop(columns=['Unnamed: 0'])

In [168]:
dia_total['Producto'] = dia_total['Producto'].apply(lambda x: x.lower())
mer_total['Producto'] = mer_total['Producto'].apply(lambda x: x.lower())
car_total['Producto'] = car_total['Producto'].apply(lambda x: x.lower())

In [169]:
dia_total = dia_total.sort_values('Producto')

In [170]:
mer_total = mer_total.sort_values('Producto')

In [171]:
car_total = car_total.sort_values('Producto')

In [172]:
dia_total

                                            Producto    DIA
0   aceite de oliva virgen extra génerico garrafa 5l  15.79
1                      agua mineral font vella 1,5 l   0.60
2        agua mineral lanjaron natural botella 15 lt   0.60
4                                      coca cola 2 l   1.59
5           evax fina y segura compresa sin alas 12u   1.00
14                             friegasuelos generico   1.59
12                  lavavajillas fairy ultra líquido   3.91
13                             lavavajillas generico   1.35
15                              lejia generico litro   1.13
10                                manzana golden 1kg   1.30
8                  pan de molde grande generico 820g   0.95
7                 pañal generico 36 unidades talla 5   6.48
6                 pañal generico 36 unidades talla 6  10.44
9                                plátano de canarias   1.99
3                            refresco cola pepsi 2 l   1.45
11                                 tomate kumato 1kg   2.39

In [173]:
car_total

                                            Producto  Carrefour
0                      aceite de girasol génerico 1l       1.00
1   aceite de oliva virgen extra génerico garrafa 5l      16.95
2                      agua mineral font vella 1,5 l       0.60
3                                      coca cola 2 l       1.50
5           evax fina y segura compresa sin alas 12u       1.56
14                             friegasuelos generico       1.12
12                  lavavajillas fairy ultra líquido       3.50
13                             lavavajillas generico       1.16
15                              lejia generico litro       1.00
10                                manzana golden 1kg       1.49
8                  pan de molde grande generico 820g       1.05
6                 pañal generico 36 unidades talla 5      10.44
7                 pañal generico 36 unidades talla 6      11.52
9                                plátano de canarias       1.69
4                            refresco cola pepsi 2 l       1.22
11                                 tomate kumato 1kg       2.70

In [147]:
total_total = pd.merge(dia_total,mer_total, how='outer')

In [148]:
total_total

                                            Producto    DIA  Mercadona
0   Aceite de oliva virgen extra génerico garrafa 5l  15.79      15.85
1                      Agua mineral Font Vella 1,5 l   0.60       0.60
2        agua mineral LANJARON natural botella 15 lt   0.60       0.60
3                            Refresco cola Pepsi 2 l   1.45       1.33
4                                      Coca Cola 2 L   1.59       1.52
5           EVAX fina y segura compresa sin alas 12u   1.00       1.44
6                 Pañal generico 36 unidades talla 6  10.44       9.36
7                 Pañal generico 36 unidades talla 5   6.48       6.12
8                  Pan de molde grande generico 820g   0.95       0.95
9                                Plátano de Canarias   1.99       1.99
10                                Manzana Golden 1kg   1.30       1.29
11                                 Tomate kumato 1kg   2.39       1.99
12                  lavavajillas fairy ultra líquido   3.91       3.11
13                             lavavajillas generico   1.35       0.66
14                             friegasuelos generico   1.59       1.68
15                              Lejia generico litro   1.13       1.21

In [149]:
total_total = pd.merge(total_total,car_total, how='outer')

In [150]:
total = pd.concat([total_total]+[total])

In [176]:
total = total.dropna()

In [178]:
total['Producto'] = total['Producto'].apply(lambda x: x.lower())

C:\Users\Carmelo\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [180]:
total = total.sort_values('Producto')

In [182]:
total.to_csv('DATAFRAME_LIMPIO.csv')